body,p,h1,h2,h3,h4,h5,ul,li,div,img{
	padding: 0;
	margin: 0;
}
ul,li{
	list-style: none;
}
header{
	box-sizing: border-box;
	height: 3rem;
	width: 100%;
	background: #FB7299;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items:center;
}
header div{
	width: 100%;
}
header p{
	/*padding-left: 1.2rem;*/
	padding-top: 2rem;
	font-size: 1.8rem;
	padding-bottom: 1rem;
	color: white;
	width: 55%;
	display: flex;
	justify-content: space-between;
	align-items: center;	
}
header p a{
	color: white;
}
.nav1 a .on{
	position: relative;
	border-bottom: .2rem solid white;
	padding-bottom: .2rem;
}
/*.on::after{
	content: "";
	position: absolute;
	left: 0rem;
	top: 1.7rem;
	width: 2.2rem;
	height: .1rem;
	background-color: #ffffff;
}*/

.nav1{
	height: 3rem;
	width: 100%;
	display: flex;
	justify-content: space-around;
	background: #FB7299;
	padding-top: .6rem;
}
.nav1 a{
	color: white;
	font-size: 1rem;
}
.tabBox{
	/*display:flex;*/
}
.all_page{
	display: flex;
}
/*.lunbo ul{
	width: 100%;
	height: 6rem;
	display: flex;
	overflow: hidden;
}
.lunbo li{
	width: 100%;
	height: 6rem;
}*/
.lunbo li img{
	width: 100%;
}
.slideBox{
	position: relative;
}
/*.lunbo_spot ul{
 	width: 0.1rem;
 	height: 0.1rem;
 	border-radius: 50%;
 	background: black;
 	position: absolute;
 	display: inline-block;
}*/
.slideBox .hd{ position:absolute; height:28px; line-height:28px; bottom:0; right:0; z-index:1; }
	.slideBox .hd li{ display:inline-block; width:5px; height:5px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background:#333; text-indent:-9999px; overflow:hidden; margin:0 6px;   }
	.slideBox .hd li.on{ background:#fff;  }

/*分割线*/
.cutline{
	width: 100%;
	height: 1rem;
	background-color: #D6D6D6;
}
/*最新连载*/

.new{
	height: 4rem;
	width: 100%;
	padding-left: 2.5%;
	padding-right: 2.5%;
	display: flex;
	justify-content: space-between;
}
.new p:nth-of-type(1){
	width: 7rem;
	height: 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.new p:nth-of-type(2){
	width: 5rem;
	height: 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.new p:nth-of-type(1) img{
	width: 2rem;
	height: 2rem;
}
.new p:nth-of-type(2) span{
	color: #FB759B;
}
.new p:nth-of-type(2) img{
	width: 1rem;
	height: 1rem;
}
.newcartoon_img{
	height: 20rem;
	width: 100%;
	padding-left: 2.5%;
	padding-right: 2.5%;
	display: flex;
	justify-content: space-between;
}
.newcartoon_img div{
	width: 9rem;
	height: 20rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.newcartoon_img img{
	width: 9rem;
	height: 14rem;
	border-radius: 0.5rem;
}
.newcartoon_img p{
	height: 1.5rem;
	width: 9rem;
	line-height: 3rem;
	color: gray;
	font-size: 1.2rem;
}
.newcartoon_img a{
	height: 1.5rem;
	width: 9rem;
	line-height: 3rem;
	color: black;
	font-size: 1.4rem;
}
/*完结推荐*/
.finish_header{
	width: 100%;
	height: 16rem;
	padding:2.5%;
}
.finish_header img{
	width: 100%;
	height: 100%;
	border-radius: 1rem;
}

.finish{
	height: 4rem;
	width: 100%;
	padding-left: 2.5%;
	padding-right: 2.5%;
	display: flex;
	justify-content: space-between;
}
.finish p{
	width: 7rem;
	height: 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.finish p:nth-of-type(2){
	width: 6rem;
	height: 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.finish p:nth-of-type(1) img{
	width: 2rem;
	height: 2rem;
}
.finish p:nth-of-type(2) img{
	width: 1rem;
	height: 1rem;
}

.finishcartoon_img{
	height: 20rem;
	width: 100%;
	padding-left: 2.5%;
	padding-right: 2.5%;
	display: flex;
	justify-content: space-between;
}
.finishcartoon_img div{
	width: 9rem;
	height: 20rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.finishcartoon_img img{
	width: 9rem;
	height: 14rem;
	border-radius: 0.5rem;
}
.finishcartoon_img a{
	height: 1.5rem;
	width: 9rem;
	line-height: 3rem;
	color: black;
	font-size: 1.4rem;
}

/*编辑推荐*/
.commend{
	height: 4rem;
	width: 100%;
	padding-left: 2.5%;
	padding-right: 2.5%;
	display: flex;
	justify-content: space-between;
}
.commend p{
	width: 7rem;
	height: 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.commend p:nth-of-type(2){
	width: 6rem;
	height: 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.commend p:nth-of-type(1) img{
	width: 2rem;
	height: 2rem;
}
.commend p:nth-of-type(2) img{
	width: 1rem;
	height: 1rem;
}
.commend_header{
	width: 100%;
	height: 15.6rem;
	padding-left:2.5%;
	padding-right:2.5%;
}
.commend_header img{
	width: 100%;
	height: 100%;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}
.commend_header_words{
	height: 4rem;
	width: 95%;
	margin-left:2.5%;
	padding-right:2.5%;
	background: #F8F8F8;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.commend_header_words p:nth-of-type(1){
	color: black;
	font-size: 1.35rem;
	font-weight: bolder;
}
.commend_header_words p:nth-of-type(2){
	color: black;
	font-size: 1rem;
	color: gray; 
}
.cutline1{
	width: 100%;
	height: 1rem;
}


.moving{
	height: 4rem;
	width: 100%;
	padding-left: 2.5%;
	padding-right: 2.5%;
	display: flex;
	
}
.moving p{
	width: 7rem;
	height: 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.moving p img{
	width: 2rem;
	height: 2rem;
}
.all_moving{
	width: 100%;
}
.moving_line{
	width: 100%;
	padding-left: 2.5%;
	padding-right: 2.5%;
	display: flex;
	justify-content: space-between;	
}
.moving_line div{
	width: 14.45rem;
	height: 12rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.moving_line div img{
	width: 14.45rem;
	height: 7.5rem;
	border-radius: .5rem;
}
.moving_line div p{
	width: 14.45rem;
	height: 4.5rem;
	padding:1rem 0;
	color: black;
}

/*国产*/
.gc_header{
	width: 180rem;
	height: 5rem;
	display: flex;
	justify-content: space-around;

}
/*#gc_nav{
	position: relative;
	

}*/
.gc_header li{
	margin-top: 1.35rem;
	margin-bottom: 1rem;
	padding:.3rem .8rem; 
	border: 1px solid gray;
	border-radius: 1.2rem;
	background: white;
	color: black;
	font-size: 1.5rem;
	line-height: 
}
#gc_nav_img{
	position: relative;

}
#gc_nav_img img{
	position: absolute;
	right: 6%;
	top:-2.8rem;                                                                                                    
}
.zonghedongtai{
	width: 100%;
	height: 3rem;
	display: flex;
	justify-content: space-between;
	padding-left: 2.5%;
	padding-right: 2.5%;
	border-top: 1px solid gray;
	line-height: 3rem;
}
.zonghedongtai p{
	display: inline-block;
	font-size: 1.5rem;
	color: black;
}
.zonghedongtai a{
	display: inline-block;
}
.zonghedongtai a p{
	color: gray;
}
.zonghedongtai img{
	width: 1.5rem;
	height: 1.5rem;
	margin-left: .3rem;
}
.zhdt{
	width: 100%;
	height: 6.5rem;
	padding-left: 2.5%;
	padding-right: 2.5%;
	display: flex;
	margin-bottom: 2.2rem;
}
.zhdt>img{
	width: 35%;
	height: 6.5rem;
	border-radius: 8%;
	margin-right: 1.5rem;
}
.zhdt div{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.zhdt div img{
	width: 1.2rem;
	height: 1.2rem;
}
.zhdt p:nth-of-type(1){
	color: black;
	font-size: 1.5rem;
}
