body,a,p,h1,h2,h3,h4,h5,ul,li,div,img{
	padding: 0;
	margin: 0;
	text-decoration: none;
}
ul,li{
	list-style: none;
}
nav{
	width: 100%;
	height: 8rem;
	background: #FB7299;
	display: flex;
	justify-content: center;

}
nav p{
	font-size: 2rem;
	padding-top: 3.6rem;
	color: white;
}
.six{
	width: 100%;
	height: 24rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-bottom: 1px solid gray;
}
.six_one{
	width: 100%;
	height: 12rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.six_two{
	width: 50%;
	height: 12rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.six_two a{
	width: 20%;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.six_one a{
	display: inline-block;
	width: 10%;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.six_two img{
	width: 100%;
	height: 100%;
}
.six_one img{
	width: 100%;
	height: 100%;
}
.six p{
	text-align: center;
	font-size: 1.8rem;
	color: black;
}
.mychannel{
	width: 95%;
	height: 20rem;
	padding-left: 2.5%;
	padding-right: 2.5%;
	border-bottom: 1px solid gray;
}
.channel{
	width: 100%;
	height: 16rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex-wrap: wrap;
}
#mychannel{
	margin-top: 2rem;
	font-size: 2.5rem;
	font-weight: bolder;
}
.channel p:nth-of-type(1){
	font-size: 2.2rem;
	color: gray;
	text-align: center;
}

#look{
	margin: 0 auto;
	text-align: center;
	margin-bottom: 2rem;
	border-radius: .8rem;
	width: 10rem;
	height: 4rem;
	background: #FB7299;
	color: white;
	/*font-size: 2.2rem;*/
	line-height: 4rem;
}
#look p{
	font-size: 2rem;
	color: white;
	text-align: center;
}
.find_channel{
	width: 95%;
	height: 30rem;
	padding-left: 2.5%;
	padding-right:2.5%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.find_channel p{
	width: 100%;
	height: 4rem;
	display: flex;
	justify-content: space-between;
}
.find_channel p>span{
	font-size: 2.5rem;
	font-weight: bolder; 
}
.find_channel a span{
	font-size: 2rem;
	padding-right: 2rem;
	background: url(../images/pindao/guochuang/g_next1.png)no-repeat 60px 9px;
	background-size: 35% 50%;
	color: gray;
}
.find_channel1{
	width: 100%;
	height: 18rem;
	display: flex;
	justify-content: space-between;
}
.find_channel1 div{
	width: 30%;
	height: 20rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
/*.find_channel1 div p{
	width: 100%;
	height: 4rem;
	display: flex;
	justify-content: center;
	
}*/
.find_channel1 div p:nth-of-type(1){
	width: 100%;
	height: 4rem;
	display: flex;
	justify-content: center;
	font-size: 2.2rem;
	/*background-color: white;*/
}
.find_channel1 div p:nth-of-type(2){
	width: 100%;
	height: 4rem;
	display: flex;
	justify-content: center;
	font-size: 1.8rem;
	color: gray;
}
.find_channel1 div button{
	width: 50%;
	height: 4rem;
	border: .1rem solid #FB7299;
	border-radius: .6rem;
	background: white;
	color: #FB7299;
	align-items: center;
}
.find_channel1 div button p{
	width: 50%;
	height: 4rem;
	display: flex;
	justify-content: center;
	font-size: 2.2rem;
	color: #FB7299;
}
.find_channel1 img{
	width: 8rem;
	height: 8rem;
}
.find_channel1 div{
	padding: 1.2rem .5rem;
	border: 1px solid gray;
	border-radius: 1rem;
}
/*底部发现频道*/
.footer_channel{
	width: 100%;
	height: 60rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-top: 6rem;
	border-top: 1px solid gray;
}
.footer_channel div{
	width: 100%;
	height: 12rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.footer_channel img{
	width: 100%;
	height: 100%;
}
#fifth_line{
	width: 50%;
	height: 12rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
/*.footer_channel a{
	width: 20%;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}*/
/*.six_one a{
	display: inline-block;
	width: 10%;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}*/
#zhibo{
	width: 6rem;
	height: 6rem;
}
#donghua{
	width: 6rem;
	height: 6rem;
}
.footer_channel p{
	text-align: center;
	font-size: 1.8rem;
	color: black;
}

/*js*/
#dingyue_p{
	width: 14rem;
	height: 3rem;
	margin-top: 2rem;
	padding:1rem .5rem;
	line-height: 3rem;
	color: gray;
	font-size: 1.5rem;
	border:1px solid gray;
	border-radius: 5rem;
	color: black;
	background: #E6E6E6;
	text-align: center;
}